@tailwind base;
@tailwind components;
@tailwind utilities;


.heading {
  @apply text-2xl
}

.search-box {
  @apply border-none outline-none w-full bg-transparent placeholder:text-sm
}

.button {
  @apply px-3 text-white py-2 bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 rounded-md
}

.theme-box { 
  @apply shadow-md rounded-md p-2 h-fit hover:bg-gray-50
}

.task-input {
  @apply border shadow-sm rounded-md border-gray-400/75 p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500
}

.task {
  @apply flex justify-evenly gap-5 py-5
}

.task-list {
  @apply h-[510px] w-full p-4 overflow-auto flex flex-col gap-y-3
}

.task-heading {
  @apply shadow-md rounded bg-white/50 py-1 px-2 border-t-4 text-lg font-semibold
}

.task-footer{
  @apply shadow-md rounded bg-white/50 py-1 px-2 flex justify-center items-center text-gray-700/75 font-semibold cursor-pointer
}

.task-item {
  @apply py-2 px-3 border-2 rounded-md shadow-md
}

.task-list>.todo {
  @apply border-amber-500 border-opacity-80
}

.task-list>.progress {
  @apply border-blue-700 border-opacity-80
}

.task-list>.done {
  @apply border-green-600 border-opacity-80
}

.edit-form {
  @apply flex justify-center items-center top-0 absolute
}

.edit-form {
  @layer backdrop-saturate-125;
}

.formBg {
  @apply bg-white p-10 border rounded-md shadow-lg
}

.formClose {
  @apply border rounded p-1 w-fit ms-auto cursor-pointer
}

.searchBox {
  @apply flex items-center ps-2 shadow-md rounded-md w-full bg-gray-50/20 h-9 hover:bg-gray-50
}

.navbar {
  @apply flex justify-between items-center shadow-md px-10 h-16
}

.navContent {
  @apply flex gap-2 justify-center items-center
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropbox {
  @apply p-2 shadow-md flex flex-col gap-2 absolute z-10
}

.menuItem {
  @apply pe-5 flex gap-2 justify-center items-center text-blue-500 focus:text-blue-800 hover:text-blue-800
}

.menuButton{
  @apply inline-flex w-full justify-center gap-x-1.5 px-3 py-2
}

.meniItems{
  @apply absolute right-0 z-10 mt-2 w-28 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 transition focus:outline-none data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in
}

.datePicker-icon {
  @apply absolute left-3 top-3 text-gray-500 pointer-events-none
}

.form-div {
  @apply flex flex-col
}

.form-title {
  @apply text-2xl font-semibold text-center -mt-3 mb-3
}

.card-title{
  @apply capitalize font-semibold
}

.menuBox{
  @apply relative inline-block text-left
}

.extenal-addTask{
  @apply border rounded-full h-14 w-14 bg-slate-50 absolute z-50 -bottom-2 left-6 text-gray-500 text-5xl text-center cursor-pointer group-hover:bg-gray-200
}

.newTask {
  @apply absolute -top-8 left-24 bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity
}